<!DOCTYPE html>
<html lang="en-us">
  <head>
    <title>AllHikes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Find detailed information about hikes that interest you, as well as add reviews and photos of hikes you have completed.">
    <meta property='og:title' content='AllHikes' />
    <meta property='og:image' content='https://raw.githubusercontent.com/benrose207/AllHikes/master/demo/hike_screenshot.png' />
    <meta property='og:description' content='Find detailed information about hikes that interest you, as well as add reviews and photos of hikes you have completed.' />
    <meta property='og:url' content='https://all-hikes.herokuapp.com' />

    <link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@300;400;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Varela+Round&display=swap" rel="stylesheet">
    <link href='https://api.mapbox.com/mapbox-gl-js/v1.11.0/mapbox-gl.css' rel='stylesheet' />
    <script type="text/javascript">
        window.mapboxAPIKey = "<%= Rails.application.credentials.mapbox[:api_key] %>"
    </script>

    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
